:root {
  --primary-color: #292c32;
  --primary-transparent-color: #292c32e8;
  --secondary-color: #3dc2ff;
  --caption-color: #e3e3e3;
  --recieved-message-color: #3d3e43;
  --sent-message-color: #4c4f57;
  --input-color: #dbdde1;
  --disabled-color: #9e9e9e;
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  overscroll-behavior: none;
}

* {
  box-sizing: border-box;
}
